<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>HoneybeeRhinoPlugin</Name>
    <Version>1.0.0</Version>
    <Title>Your application Installer</Title>
    <Publisher>Your vendor</Publisher>
    <StartMenuDir>Super App</StartMenuDir>
    <TargetDir>@HomeDir@/InstallationDirectory</TargetDir>
    <ControlScript>controller.js</ControlScript>
</Installer>
